.audioTrack {
	clear: both;
	background: white;
	position: relative;
	width: 1000px;
	height: 20px;
	margin: 0px;
	padding: 0px;
}

.playbackButton {
	float: left;
	width: 22px;
	height: 20px;
	text-decoration: none;
	color: #000;
	border: solid 1px #ccc;
	font-size: 10pt;
}

.audioTrack-title {
	float: left;
	width: 300px;
	height: 20px;
	padding-left: 10px;
	margin-left: -1px;
	border: solid 1px #ccc;
	font-family: verdana;
	font-size: 10pt;
}

.audioTrack-artist {
	float: left;
	width: 200px;
	height: 20px;
	padding-left: 10px;
	margin-left: -1px;
	border: solid 1px #ccc;
	font-family: verdana;
	font-size: 10pt;
}

.audioTrack-album {
	float: left;
	position: relative;
	width: 300px;
	height: 20px;
	padding-left: 10px;
	margin-left: -1px;
	border: solid 1px #ccc;
	font-family: verdana;
	font-size: 10pt;
}
